.stopwatch{
    width: 300px;
    text-align: center;
    font-size: xx-large;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #313131 0, #000000 100%);
}