*{
    margin: 0px;
    padding: 0px;
}
.App{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
    min-height: 100vh; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 30px;
    padding: 20px;
    border: white 2px solid;
    color: rgb(43, 43, 43);
    border-radius: 10px;
}

h1 b{
    font-size: xxx-large;
    text-transform: uppercase;
}

button{
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bolder;
    background: linear-gradient(45deg, #1f1f1f 0, #5a5a5a 100%);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
    width: 100px;
    height: 50px;
}

button:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(110%);
}