.App{
    background-image: url(https://besthqwallpapers.com/Uploads/16-3-2019/83681/thumb2-black-metallic-grid-macro-black-metal-background-metal-textures-grunge.jpg);
    padding: 50px;
    text-align: center;
   ;
}

button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bolder;
    background-image: url(https://s1.1zoom.me/b5449/178/Texture_Red_563946_1600x1200.jpg);
    margin: 20px;
    width: 150px;
    height: 75px;
}

button:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(110%);
}